<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>СуперПолк производители</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<img th:src="@{/images/logo.jpg}" width="100" height="100" />
		<h1>Производители</h1>
	</header>

	<main>
		<!-- Основное содержимое страницы здесь -->
		<div th:each="el : manufacturers" class="alert alert-info mt-2">
			<h3 th:text="${el.name}"/>
		</div>
	</main>
	<footer>
		<!-- Нижний колонтитул здесь -->
	</footer>
	
</body>

</html>