<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>СуперПолк товары</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<a href="/">
		    <img th:src="@{/images/logo.jpg}" width="100" height="100" />
		</a>
		<h1>Товары</h1>
	</header>

	<main>
		<table>
	        <tr>
	            <th>ID</th>
	            <th>Название</th>
	            <th>Вес</th>
	            <th>Ширина</th>
	            <th>Высота</th>
	            <th>Длина</th>
	            <th>Производитель</th>
	            <th>
					<a href="/products/add" class="pressed-button">Добавить</a>
				</th>
	        </tr>
	        <tr th:each="product : ${products}">
	            <td th:text="${product.id}">ID</td>
	            <td th:text="${product.name}">Название</td>
	            <td th:text="${product.weight}">Вес</td>
	            <td th:text="${product.width}">Ширина</td>
	            <td th:text="${product.height}">Высота</td>
	            <td th:text="${product.length}">Длина</td>
	            <td th:text="${product.manufacturerid.name}">Производитель</td>
				<td style="width: 10px;">
					<a th:href="@{/products/edit(id=${product.id})}">
						<img th:src="@{/images/edit.png}" class="imgSize">
					</a>
					<a th:href="@{/products/delete(id=${product.id})}">
						<img th:src="@{/images/delete.png}" class="imgSize">
					</a>
				</td>
	        </tr>
	    </table>
	</main>
	<footer>
		<!-- Нижний колонтитул здесь -->
	</footer>
	
</body>

</html>